
HappyHeadlines/.vs/

HappyHeadlines/ArticleService/bin/

HappyHeadlines/ArticleService/obj/

.vs/

HappyHeadlines/ArticleService.Core/

HappyHeadlines/CommentService/obj/

HappyHeadlines/ProfanityService/obj/
